.list {
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  padding: 5px;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.status.online {
  background-color: green;
}

.status.offline {
  background-color: red;
}
